<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <root level="warn" additivity="true">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

  <logger name="com.example.websocket.performance.performanceissue.PerformanceIssueApplication" level="info"/>
</configuration>
